@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  font-family: 'Oooh Baby', cursive;  color: white;
  margin-left: auto;
  /*animation: neon1 1.5s ease-in-out infinite alternate */
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.bgImg {
  min-height: 100vh;
  background-image: url('./Res/Images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  filter: blur(8px) saturate(500%) brightness(70%);
  -webkit-filter: blur(8px) saturate(500%) brightness(70%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.navLink {
  color: white;
  font-size: x-large;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 5px 10px 5px;
}

:root {
  --cardWidth: 150px;
  --cardHeight: 200px;
  --cardBg: #000000;;
  --cardBgImg: linear-gradient(100deg, #000000 0%, #333333 74%, #464545); 
}

.search-error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
  min-height: 35vh;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--cardBg);
  background-image: var(--cardBgImg);
}

.search-res-container {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.search-res-title {
  color: white;
  font-size: x-large;
  margin: 0px 15px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.search-res-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 35vh;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--cardBg);
  background-image: var(--cardBgImg);
  
}

.search-res-movie-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 10px 10px 10px;
  transition: transform .4s;
  width: 100vw;
  background-color: black;
  height: calc(var(--cardHeight) + 80px);
}

.movie-card-img {
  height: var(--cardHeight);
}

.movie-card-img {
  width: var(--cardWidth);
  box-shadow: 2px 2px 10px #888888;
  border-radius: 10px;
}

.search-res-card-title {
  position: absolute;
  top: 0px;
  left: auto;
  font-size: large;
}

.search-res-card-year {
  position: absolute;
  bottom: 0px;
  left: auto;
  font-size: medium;
}

.movie-card-img-placeholder {
  font-size: 50px;
}

.search-res-movie-card :hover {
  transform: scale(1.1);
}

.input {
  margin-left: -50px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 90px;
}

.movie-container-head {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.movie-container-title h5{
  margin-top: 0px;
  margin-bottom: 10px;
}

.movie-container-title i{
  margin-top: 0px;
  font-size: medium;
}

.movie-container-details-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.movie-container-details-box p {
  padding: 5px;
  font-size: medium;
}

.movie-container-body {
  margin: 20px;
}
.top-movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  height: 250px;
  color: white;
}

.top-movies-container p {
  font-size: medium;
}

.top-movies-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: row;
  overflow: auto; 
  white-space: nowrap;
}

.movie-avatar-img {
  height: auto;
  max-width: 100px;
  margin: 10px;
}

.movie-avatar-img:hover, .navLink:hover {
  transform: scale(1.1);
}


.user-history-item {
  content: '';
  border-bottom: 1px solid rgb(5, 5, 5);
  width: 100%;
  margin-bottom: 2px;
}

@media only screen and (min-width: 800px) {
  :root {
    --cardWidth: 200px;
    --cardHeight: 250px;
  }

  .search-res-body {
    flex-direction: row;
    overflow: auto; 
    white-space: nowrap;
  }

  .search-res-movie-card {
    margin: 80px 10px 50px 
  }

  .search-res-movie-card, .movie-card-img{
    min-width: var(--cardWidth);
    max-width: var(--cardWidth);
    background-color: transparent;
  }

  .movie-container-head {
    flex-direction: row;
  }
}

